shamefully-hoist=true
sentrycli_cdnurl=https://cdn.npmmirror.com/binaries/sentry-cli
#ELECTRON 相关镜像
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
phantomjs_cdnurl=http://npmmirror.com/mirrors/phantomjs
operadriver_cdnurl=http://npmmirror.com/mirrors/operadriver
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_BUILDER_BINARIES_MIRROR=http://npmmirror.com/mirrors/electron-builder-binaries/
# SASS 淘宝镜像
SASS_BINARY_SITE=http://npmmirror.com/mirrors/node-sass
# 指定cnpm私有源地址 涉及到私有源自动切换镜像地址
@plugin:registry=http://116.255.145.41:7001/
@uupt:registry=http://116.255.145.41:7001/
@vue-materials:registry=http://116.255.145.41:7001/
@react-material:registry=http://116.255.145.41:7001/
@FunUI:registry=http://116.255.145.41:7001/
